body{

font-family:Arial;
background:#f0f2f5;
margin:0;

}

.titulo{

text-align:center;
margin-top:40px;

}

.login-area{

display:flex;
justify-content:center;
gap:40px;
margin-top:50px;

}

.login-box{

background:white;
padding:30px;
width:300px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.2);

}

input{

width:100%;
padding:10px;
margin:10px 0;

}

button{

width:100%;
padding:10px;
background:#007bff;
color:white;
border:none;
border-radius:5px;

}

.admin-btn{

position:absolute;
top:20px;
right:20px;
font-size:28px;

}
