<!DOCTYPE html>
<html lang="pt-br">

<head>

<meta charset="UTF-8">
<title>Login ADM</title>

<style>

body{
font-family:Arial;
background:#111;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
margin:0;
}

.login{
background:white;
padding:40px;
border-radius:10px;
width:300px;
text-align:center;
}

input{
width:100%;
padding:10px;
margin-bottom:10px;
}

button{
width:100%;
padding:10px;
background:red;
color:white;
border:none;
cursor:pointer;
}

</style>

</head>

<body>

<div class="login">

<h2>Login ADM</h2>

<form method="POST">

<input type="text" name="usuario" placeholder="Usuário">

<input type="password" name="senha" placeholder="Senha">

<button type="submit">Entrar</button>

</form>

</div>

</body>
</html>
