<!DOCTYPE html>
<html>
<head>
<title>Cadastro Motorista</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

<h2>Cadastro Motorista</h2>

<form method="post">

<input name="nome" placeholder="Nome">

<input name="cidade" placeholder="Cidade">

<select name="veiculo">
<option value="moto">Moto</option>
<option value="carro">Carro</option>
<option value="van">Van</option>
</select>

<input name="telefone" placeholder="Telefone">

<button>Cadastrar</button>

</form>

</div>

</body>
</html>
