<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Dashboard Empresa</title>
<link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<header>

<h2>Painel da Empresa</h2>

<a href="/criar_entrega">
<button class="btn">Nova Entrega</button>
</a>

</header>

<div class="container">

<h3>Entregas</h3>

<table>

<tr>
<th>ID</th>
<th>Coleta</th>
<th>Destino</th>
<th>KM</th>
<th>Valor</th>
<th>Status</th>
</tr>

{% for e in entregas %}

<tr>

<td>{{e.id}}</td>
<td>{{e.coleta}}</td>
<td>{{e.destino}}</td>
<td>{{"%.2f"|format(e.distancia)}} km</td>
<td>R$ {{ "%.2f"|format(e.valor) }}</td>
<td>{{e.status}}</td>

</tr>

{% endfor %}

</table>

</div>

</body>
</html>
