<!DOCTYPE html>
<html>
<head>
<title>Painel Empresa</title>
</head>

<body>

<h2>Painel Empresa</h2>

<h3>Criar entrega</h3>

<form action="/criar_entrega" method="POST">

<input name="coleta" placeholder="Endereço coleta">

<input name="entrega" placeholder="Endereço entrega">

<input name="valor" placeholder="Valor">

<button>Criar entrega</button>

</form>

<h3>Entregas</h3>

{% for e in entregas %}

<p>
Coleta: {{e["coleta"]}} |
Entrega: {{e["entrega"]}} |
Valor: R$ {{e["valor"]}}

<a target="_blank"
href="https://wa.me/?text=Nova entrega disponível
Coleta: {{e['coleta']}}
Entrega: {{e['entrega']}}
Valor: R$ {{e['valor']}}">
📲 Avisar Motorista
</a>

</p>

{% endfor %}

</body>
</html>
