<!DOCTYPE html>
<html>

<head>
<title>Motorista24H</title>
</head>

<body>

<h2>Solicitar Motorista Urgente</h2>

<form method="post">

<input name="cnpj" placeholder="CNPJ" required>

<br><br>

<input name="telefone" placeholder="WhatsApp" required>

<br><br>

<input name="origem" placeholder="Endereço de coleta" required>

<br><br>

<input name="destino" placeholder="Endereço de destino" required>

<br><br>

<select name="veiculo">

<option value="moto">Moto</option>
<option value="carro">Carro</option>
<option value="van">Van</option>

</select>

<br><br>

<button type="submit">Calcular entrega</button>

</form>

</body>
</html>
