<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Motorista24H - Login Empresa</title>
<link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<div class="login-container">

<h2>Motorista24H</h2>
<h3>Login Empresa</h3>

<form action="/login_empresa" method="post">

<input type="email" name="email" placeholder="Email" required>

<input type="password" name="senha" placeholder="Senha" required>

<button type="submit">Entrar</button>

</form>

</div>

</body>
</html>
