<!DOCTYPE html>
<html lang="pt-br">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Motorista24H</title>

<style>

body{
font-family:Arial;
background:#0f172a;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
margin:0;
}

.box{
background:#1e293b;
padding:30px;
border-radius:10px;
width:320px;
}

input{
width:100%;
padding:10px;
margin-top:10px;
border:none;
border-radius:6px;
}

button{
width:100%;
margin-top:15px;
padding:12px;
background:#3b82f6;
border:none;
border-radius:6px;
color:white;
cursor:pointer;
}

a{
color:#22c55e;
text-decoration:none;
}

</style>

</head>

<body>

<div class="box">

<h2>Motorista24H</h2>

<form action="/login" method="POST">

<input name="usuario" placeholder="Telefone ou usuário">

<input name="senha" placeholder="Senha" type="password">

<button>Entrar</button>

</form>

<p>
<a href="/cadastro_motorista">Cadastrar motorista</a>
</p>

</div>

</body>
</html>
