<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Login Motorista</title>

<style>

body{
font-family:Arial;
background:#111;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.card{
background:#1c1c1c;
padding:30px;
border-radius:10px;
width:320px;
}

input{
width:100%;
padding:10px;
margin:10px 0;
border:none;
border-radius:5px;
}

button{
width:100%;
padding:12px;
background:#00b894;
border:none;
color:white;
font-size:16px;
border-radius:5px;
cursor:pointer;
}

</style>

</head>

<body>

<div class="card">

<h2>Login Motorista</h2>

<form method="POST">

<input type="text" name="usuario" placeholder="Usuário" required>

<input type="password" name="senha" placeholder="Senha" required>

<button type="submit">Entrar</button>

</form>

</div>

</body>
</html>
